[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

alexandra = "*"
python-dotenv = "*"
gunicorn = "*"


[dev-packages]

[requires]

python_full_version = "3.6.2"
